<div class="tab-pane fade {% if request.args.get('tab') == 'license-management' %}show active{% endif %}" id="license-management">
    <div class="card shadow-sm">
        <div class="card-header bg-dark text-white">Έλεγχος Άδειας Χρήσης</div>
        <div class="card-body">
                <div class="text-center font-weight-bold mb-4" style="background-color: #d9edf7; color: #31708f; padding: 15px; border-radius: 4px;">
                    Η άδεια είναι ενεργή.</strong>
                </div>
        </div>
    </div>
</div>
