<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Εκτός Σύνδεσης</title>
    <link rel="stylesheet" href="/static/css/base.css"> <!-- Προσθήκη CSS για να διατηρηθεί η οπτική εμφάνιση -->
</head>
<body>
    <div class="container">
        <h1>Είστε εκτός σύνδεσης</h1>
        <p>Δεν μπορείτε να πραγματοποιήσετε ενέργειες χωρίς σύνδεση στο δίκτυο. Παρακαλώ συνδεθείτε στο δίκτυο και προσπαθήστε ξανά.</p>
    </div>
</body>
</html>
